:root {
    --bg: #0b0d0f;
}

html,
body {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background: var(--bg);
    color: #fff;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: stretch;
    overflow: hidden;
    user-select: none;
}

canvas {
    display: block;
    width: min(960px, calc(100vw - 48px));
    height: 100vh;
    touch-action: manipulation;
}

@media (max-width:600px) {
    canvas {
        width: calc(100vw - 20px);
    }
}